body {border: 1px solid black; margin-right: 70rem;}
#titul {margin-left: 3rem; margin-top: 2rem;}
#reg {background-color:deepskyblue ;color: white; text-align: center;
padding: 1rem; border: 1px solid black; margin: 2rem;}
#todo {margin-left: 3rem; margin-top: 2rem;}
#acerca {color: aqua; margin-top: 5rem;margin-left: 2rem;}