#nombre {background-color: aqua; max-width: 3rem}
#agi {background-color: aquamarine;max-width: 6rem}
#modelo {background-color: blue;max-width: 12rem}
#sku {background-color: blueviolet; max-width: 24rem}
#preu {background-color: brown;max-width: 48rem}