body > span:nth-child(2) {font-weight:600;color: gold;}
body > span:nth-child(1) {font-weight:600}
body > span:nth-child(4) {font-weight:600;color: gold;}
body > span:nth-child(3) {font-weight:600}
body > span:nth-child(5) {background-color: blue;color: white;}
body > span:nth-child(6) {background-color: blue;color: white;}
body > span:nth-child(7) {color: blueviolet;}
body > span:nth-child(8) {color: blueviolet;}
body > span:nth-child(9) {fcolor: blueviolet;}
body > span:nth-child(10) {background-color: blue;color: white;}
body > span:nth-child(11) {background-color: green;color: white;}