#Titulo {font-size: 3ch;}
#moby:hover {font-style: italic;color: blue;}
#Prologo {font-style: italic;}
#Prologo:hover {font-weight: 600;color: red;}
#p2 {font-weight: 900; text-align: justify;}
#moby {letter-spacing: 3px;}
#p1 {font-weight: 900; text-align: justify;}